@model List<CODE_WebQao.Models.CartItem>
@{
    ViewBag.Title = "Index";
}
<h2>Giỏ hàng của bạn</h2>

@if (Model.Count == 0)
{
<p>Giỏ hàng của bạn hiện đang trống.</p> }
            else
            {
<table class="table">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Tổng</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>@item.TenSP</td>
    <td>@item.Gia.ToString("C")</td>
    <td>@item.So_luong</td>
    <td>@item.Total.ToString("C")</td>
    <td>
        @Html.ActionLink("Xóa", "RemoveFromCart", new { maSP = item.MaSP }, new { @class = "btn btn-danger" })
    </td>
</tr>}
    </tbody>
</table>

     <p><strong>Tổng giá trị: </strong> @Html.Action("CartTotal")</p>
     <div>
      @Html.ActionLink("Xóa toàn bộ giỏ hàng", "ClearCart", null, new { @class = "btn btn-warning" })
     </div>}
